@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@600&display=swap');
html, body {
  background: #464646;
  padding: 0;
  margin: 0;
  line-height: 1.5;
}

h1,
h2,
h3,
h4,
h5,
h6,
strong {
  color: #c3a972;
  font-family: "Russo-One", sans-serif;
}

p,
li,
span,
label,
input,
textarea {
  color: #bfbfbf;
  font-family: "lato", sans-serif;
}

a {
  text-decoration: none;
  color: white;
}

h1 {
  font-size: 30px;
}

h2 {
  font-size: 56px;
}

h3 {
  font-size: 56px;
}

h4 {
  font-size: 30px;
}

h5 {
  font-size: 56px;
}

h6 {
  font-size: 20px;
}

ul {
  list-style: none;
}

.flex {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  overflow: none;
  padding: 0;
}

.navbar {
  border-bottom: 0.4em solid #C1C1C1;
  animation-name: flash;
  animation-duration: 3s;
}
.navbar p {
  color: white;
  padding: 10px 20px;
  margin: 0 0;
}
.navbar a {
  margin: 0;
  padding: 0;
}

@keyframes flash {
  0% {
    border-color: #464646;
  }
  100% {
    border-color: red;
  }
}
.navigation {
  justify-content: flex-end;
  display: flex;
  align-content: flex-end;
  margin-bottom: 0.4em;
}

.btn {
  transition: all 2s;
  background: #43435c;
  border: 2px solid #43435c;
  transform: skewX(-40deg);
  box-sizing: content-box;
  outline: none;
}

.active, .btn:hover {
  background: #2A2A4a;
  color: #fff;
}

.btn:hover {
  cursor: pointer;
}

.active {
  box-shadow: 6px 5px 0px 3px #C1C1C1;
  cursor: default;
}

.s1 {
  background: #464646;
}

.socials {
  padding: 0 10px;
  flex-direction: column;
  justify-content: space-between;
  position: fixed;
  right: 5vw;
  bottom: 10%;
  width: 15vw;
  height: 100px;
  max-height: 50vh;
}

.icon {
  color: #2A2A4a;
  z-index: -1;
}

.outer-icon {
  color: #C1C1C1;
  z-index: -1;
}

.full-icon * {
  position: absolute;
}

.gallery {
  padding: 0;
  margin: 0;
  text-align: center;
  display: grid;
  justify-content: center;
  place-items: center;
}

.current-project {
  display: grid;
  grid-template-columns: 1fr 2fr;
  z-index: 2;
}

.project {
  background: #464646;
  padding: 0;
  margin: 0;
  width: 75vw;
  height: 15vw;
  max-width: 900px;
  max-height: 180px;
  display: grid;
}
.project img {
  padding: 0;
  margin: 0;
  height: inherit;
  width: auto;
}

.current {
  grid-column: 1/4;
  z-index: 3;
  grid-template-rows: 1fr 2fr;
  grid-template-columns: 1fr 2.5fr;
  justify-content: center;
  align-items: center;
}

.prev, .next {
  justify-content: center;
  align-items: center;
  transform: scaleX(0.6);
  transform: scaleY(0.9);
}

.prev {
  margin-bottom: -20px;
}

.next {
  margin-top: -20px;
}

.prev:hover {
  margin-bottom: -20px;
}

.next:hover {
  margin-top: -20px;
}

.img {
  display: flex;
  justify-content: space-around;
  align-content: space-around;
  align-items: space-around;
  grid-area: 1/2/3/3;
  max-width: 50vw;
  height: auto;
}

.slideBtn {
  background: none;
  text-decoration: none;
  outline: none;
  border: none;
}

.btn-top {
  padding-bottom: 30px;
}

.btn-btm {
  padding-top: 30px;
}

.submit-btn {
  margin-top: 10px;
  width: 100%;
  padding: 10px 0;
  color: #c3a972;
  background-color: #2A2A4a;
  border: none;
}

.input {
  width: 100%;
  padding: 10px 0;
  background-color: #bfbfbf;
  border: 1px solid #C1C1C1;
}

.contact {
  color: black;
  max-width: 600px;
  margin: 0 auto;
  border: 2px solid #C1C1C1;
  padding: 15px;
  border-radius: 2px;
  background-color: #464646;
}
.contact label {
  line-height: 2.7em;
}
.contact textarea {
  min-height: 100px;
  font-size: 14px;
}

.btn::after {
  position: absolute;
  top: 10px;
  bottom: 10px;
  background: #464646;
}

@media (max-width: 768px) {
  .container {
    margin: 0 auto;
    padding: 0 20px;
  }
  .navbar .flex {
    justify-content: center;
  }
  .navigation {
    padding: 0;
  }
}
@media (max-width: 768) {
  .gallery {
    position: relative;
  }
  .navigation {
    display: grid;
  }
  .btn {
    padding: 0;
    margin: 0;
    transform: scale(0.4);
  }
}/*# sourceMappingURL=style.css.map */